* {
    font-family: 'Raleway', sans-serif !important;
}

.color {
    background-color: #0F0F0F;
}

/* navbar start */
.navbar{
    background-color: #151515 !important;
}
.nav-item a {
    transition: 1s;
}

.nav-item a:hover {
    color: #ff7437 !important;
    transition: 1s;
}

.dropdown-menu {
    background-color: #151515 !important;
}

.dropdown-menu a {
    color: white !important;
}

.dropdown-menu a:hover {
    color: #ff7437 !important;
    background-color: black !important;
}

/* about */
.featurette-heading,
.bd-placeholder-img {
    margin-top: 100px !important;
}

/* flexbox */
.d-inline-block {
    font-size: 20px;
}


/* service */
.row {
    margin-top: 50px;
}

.service img {
    border-radius: 5% !important;
}


/* form page */
.c-form {
    margin-top: 4rem !important;
    padding-top: 4rem !important;
}

.c-heading {
    text-align: center !important;
    color: white !important;
}
.c-btn button{
    background-color: #ae522b;
    color: rgb(26, 24, 24);
    transition: 1s;
}

.c-btn button:hover{
    background-color: #ff7437;
    color: #000;
    transition: 1s;
}

.form-control {
    text-transform: capitalize;
}

/* team */
.card {
    margin-top: 3rem !important;
    margin-right: 2rem !important;
    margin-left: 2rem !important;
    width: 18rem !important;
    background-color: #0F0F0F;
}


.team_box {
    min-width: 945px !important;
}

.team h5,
.team p {
    text-align: center;
    font-weight: bolder;
}

.address {
    text-align: center !important;
    font-size: 20px !important;
    font-weight: bolder !important;
}

/* image black in white after colorfull */
.img {
    filter: grayscale(100%);
    transition: 1s;
}

.card {
    border: none !important;
}

.card img {
    border-radius: 30px;
}

.img:hover {
    filter: grayscale(0%);
    transition: 1s;
}

/* end */

/* footer start */
footer {
    background-color: #151515 !important;
    display: flex !important;
}

.menu h5 {
    color: #ff7437 !important;
    font-weight: bolder !important;
    font-family: inherit !important;
    line-height: 60px;
}

.menu a {
    line-height: 42px;
    text-decoration: none;
    transition: 1s;
    font-size: 14px;
}

.menu a:hover {
    color: #ff7437 !important;
    transition: 1s;
}

/* footer contact info */
.contect h5 {
    color: #ff7437 !important;
    font-weight: bolder !important;
    font-family: inherit !important;
    line-height: 60px;
}

.contect a {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    padding-left: 35px;
    display: block;
}

.contect li {
    margin-bottom: 23px !important;
}

.contect img {
    position: absolute;
    top: 5px;
    left: 0;
    bottom: 0;
}

.filter img{
    filter: invert(100%);
}

.facebook{
    width: 30px !important;
    height: 30px !important;
}
.facebook:hover{
    background-color: white !important;
}
